{% extends 'basic.html' %}

    {% block extrahead %}
        <title>Authentication</title>
    {% endblock %}

    {% block search %}
    {% endblock %}

    {% block content %}
    <div class="container d-flex h-100">
        <div class="row justify-content-center">
            <div class="col-10">
            {% load crispy_forms_tags %}
            <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                <legend style="color:white" class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
                </fieldset>
                <div class="form-group" style="width:300px;">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                    <small class="test-muted ml-2">
                        <a style="color:white" href="{% url 'password_reset' %}"> Forgot Password?</a>
                    </small>
                </div>
            </form>
            </div>
            </div>
        </div>
    </div>
    {% endblock %}
